@use '../../styles/Variables' as vars;
@use '../../styles/mixins' as mix;

.Error-page {
  color: vars.$error-color;
  text-align: center;
  padding-bottom: 75px;

  h3 {
    font-size: vars.$error-title-size;
  }

  h4 {
    font-size: vars.$error-subtitle-size;
  }
}

.error-page-wrapper {
  @include mix.flex-center(column, center, center); // correction ici
  min-height: 100vh;
}
@media screen and (max-width: 888px) {
  .Error-page {
    h3 {
      font-size: 96px;
      margin-top: 40px;
    }

    h4 {
      font-size: 18px;
      margin-top: 15px;
      line-height: 1.4;
      margin-bottom: 50px;
    }

    .h4-linebreak {
      display: block;
      margin-top: 5px;
    }

    a {
      display: inline-block;    // plus facile à gérer pour les marges
      margin: 40px 0;
      color: vars.$error-color;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
