@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.gallery-container {
  background-color: vars.$color-light-bg;
  @include mix.border-radius(vars.$border-radius-large);
  margin: auto;
  padding: vars.$gallery-padding;
  width: 100%;

  @media (max-width: 888px) {
    background-color: vars.$color-white; // supprime le gris sur mobile
    .appartement-card {
  width: 100%;
}
.gallery-container{
  padding: 0;
}
.appartements-grid{
  width: 100%;
}
  }
}

.appartements-grid {
  @include mix.flex-wrap-gap(vars.$appartement-gap); // grille flexible avec wrap
  margin: auto;
  width: 90%;

  @media (max-width: 600px) {
    width: 100%; // full width sur mobile

  }
}

.appartement-card {
  @include mix.border-radius(vars.$border-radius-small);
  height: vars.$appartement-height;
  width: vars.$appartement-width;
  overflow: hidden;
  position: relative;
  background-position: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  
}

.appartement-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: vars.$color-white;
  font-size: vars.$font-size-overlay;
  font-weight: vars.$font-weight-overlay;
  border-bottom-left-radius: vars.$border-radius-small;
  border-bottom-right-radius: vars.$border-radius-small;
  text-align: left;
}
